<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Certificate</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>

<!------ Include the above in your HEAD tag ---------->
<div th:if="${param.success}">
    <div class="alert alert-info">Your Certificate is successfully received
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #74b9ec;">
    <a class="navbar-brand" href="#">ADMIN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/employee/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" style="background-color: #99c3e2;" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-danger" href="/employee/certificate">Certificate</a>
                    <a class="dropdown-item text-warning" href="/employee/leave">Leave</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <a href="/logout" class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</a>
    </div>
</nav>

<form th:action="@{/employee/certificate}" method="post" th:object="${certificate}">
    <div class="container contact">
        <div class="row">
            <div class="col-md-9">
                <div class="contact-form">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="fname">Date  d'aujourd'hui</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" id="fname"
                                   name="nom" th:field="*{date}" required autofocus="autofocus">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="lname">Nom et Prénom:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="lname" placeholder="nom et prénom"
                                   name="name" th:field="*{name}" required autofocus="autofocus">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Date de  début </label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" id="email" name="from_date"
                                   th:field="*{from_date}" required autofocus="autofocus">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Poste d'employé</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="email" placeholder="saisir votre poste"
                                   th:field="*{to_date}" required autofocus="autofocus">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Saisie  le  nom de responsable</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="employee" placeholder="manager name" name="to_date"
                                   th:field="*{employee}" required autofocus="autofocus">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="submit" class="btn btn-success" th:value="Apply"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
</body>
</html>